<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <input id="title" formControlName="title" type="text" class="form-control">
            <label for="title" class="active" class="form-control">Titulo</label>
        </div>
    </div>
</div>
<div class="input-field col s12">
    <textarea id="body" formControlName="body" class="materialize-textarea"></textarea>
    <label for="body">Agregar el contenido</label>
</div>

<button type="submit">Guardar</button>